@import "compass";

@font-face {
	font-family: 'fontana';
	src:url('../fonts/fontana.eot');
	src:url('../fonts/fontana.eot?#iefix') format('embedded-opentype'),
		url('../fonts/fontana.woff') format('woff'),
		url('../fonts/fontana.ttf') format('truetype'),
		url('../fonts/fontana.svg#rws') format('svg');
	font-weight: normal;
	font-style: normal;
}

html, body {
    min-height: 100%;
    width: 100%;
}

.message {
    margin-top: 0;
}

.lead {
    margin-bottom: 0;
    font-size: 160%;
    font-weight: normal;
}

@media(max-width:991px) {
    .message {
        width: 95%;
        left: 2.5%;
    }
}

.progress {
    width: 50%;
    position: absolute;
    top: 35%;
    left: 50%;
    margin-left: -25%;
    opacity: 0;
    @include transition(opacity 1s);

    .progress-bar {
        width: 100%;
    }
}

.fontana:empty + .progress {
    opacity: 1;
}

.icon-play, .icon-pause, .icon-cog, .icon-expand, .icon-cancel, .icon-twitter, .icon-github-logo, .icon-fontana-logo, .icon-eight-logo {
    font-family: 'fontana';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    position: relative;
    top: 1px;
}
.icon-play:before {
    content: "\e000";
}
.icon-pause:before {
    content: "\e001";
}
.icon-cog:before {
    content: "\e002";
}
.icon-expand:before {
    content: "\e003";
}
.icon-cancel:before {
    content: "\e004";
}
.icon-twitter:before {
    content: "\e005";
}
.icon-github-logo:before {
    content: "\e006";
}
.icon-fontana-logo:before {
    content: "\e007";
}
.icon-eight-logo:before {
    content: "\e008";
}

#logos {
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 99;
    margin: 0 15px 15px 0;

    a {
        text-decoration: none;
    }

    .icon-eight-logo {
        font-size: 72px;
        position: absolute;
        top: -9px;
    }
    .icon-github-logo {
        font-size: 27px;
        margin: 0 5px 0 75px;
        padding: 0 5px;
    }
}

.navbar {
    .icon-fontana-logo {
        position: absolute;
        top: -5px;
    }

    .navbar-brand {
        padding-left: 3em;
    }
}
