@import "compass";

.navbar-brand {
    background: url('/img/logo.png') no-repeat 16px 50%;
    background-size: auto 32px;
    padding-left: 48px;
}

html, body {
    min-height: 100%;
    width: 100%;
}
.message {
    margin-top: 0;
}

@media(max-width:991px) {
    .message {
        width: 95%;
        left: 2.5%;
    }
}

.lead {
    margin-bottom: 0;
}
.progress {
    width: 50%;
    position: absolute;
    top: 35%;
    left: 50%;
    margin-left: -25%;
    opacity: 0;
    @include transition(opacity 1s);

    .progress-bar {
        width: 100%;
    }
}

.fontana:empty + .progress {
    opacity: 1;
}

#logos {
    position: fixed;
    bottom: 0;
    z-index: 99;

    .eight, .github {
        display: inline-block;
        height: 24px;
        background-size: auto 24px;
        background-repeat: no-repeat;
        background-position: 0 50%;
        margin: 0 8px;
    }
    .eight {
        background-image: url('/img/eight.png');
        width: 32px;
    }
    .github {
        background-image: url('/img/github.png');
        width: 64px;
    }
}

