@import "compass";

html, body {
    min-height: 100%;
    width: 100%;
}
.message {
    margin-top: 0;
}

@media(max-width:991px) {
    .message {
        width: 95%;
        left: 2.5%;
    }
}

.lead {
    margin-bottom: 0;
}
.progress {
    width: 50%;
    position: absolute;
    top: 35%;
    left: 50%;
    margin-left: -25%;
    opacity: 0;
    @include transition(opacity 1s);

    .progress-bar {
        width: 100%;
    }
}

.fontana:empty + .progress {
    opacity: 1;
}
