@import "compass";

.logo {
    background: url('/img/logo.svg') no-repeat;
    background-size: contain;
    height: 32px;
    width: 24px;
    float: left;
    margin: 10px -10px 0 10px;
}

html, body {
    min-height: 100%;
    width: 100%;
}

.message {
    margin-top: 0;
}

.lead {
    margin-bottom: 0;
}

@media(max-width:991px) {
    .message {
        width: 95%;
        left: 2.5%;
    }
}

.progress {
    width: 50%;
    position: absolute;
    top: 35%;
    left: 50%;
    margin-left: -25%;
    opacity: 0;
    @include transition(opacity 1s);

    .progress-bar {
        width: 100%;
    }
}

.fontana:empty + .progress {
    opacity: 1;
}

#logos {
    position: fixed;
    bottom: 0;
    z-index: 99;
    margin: 0 0 15px 15px;

    .eight, .github {
        display: inline-block;
        height: 32px;
        background-size: contain;
        background-repeat: no-repeat;
    }
    .eight {
        background-image: url('/img/eight.svg');
        width: 32px;
    }
    .github {
        background-image: url('/img/github.svg');
        width: 24px;
    }
}

