body {
    background-color: #1872C0;
}

.navbar-default {
    background-color: #166AB2;
    border-color: #166AB2;

    .navbar-brand, .navbar-text {
        color: #f9f8f7;

        &:focus, &:hover {
            color: #f9f8f7;
        }
    }
}

.btn-default {
    background-color: #044984;
    border-color: #044984;
    color: #f9f8f7;

    &:focus, &:hover, &:active, &.active {
        background-color: #033D6D;
        border-color: #033D6D;
        color: #f9f8f7;
    }
}

.well {
    background-color: #f9f8f7;
    border-color: #f9f8f7;
    color: #3f3f3f;
}

a {
    color: #0072bc;
}

.text-muted {
    color: #999;
}
