!!!
html
    head
        title TwitterFontana
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link.bootstrap(rel="stylesheet", href="/bootstrap/css/bootstrap.min.css")
        link(rel="stylesheet", href="/css/transitions.css")
        style.
            @media(max-width:991px) {
                .message {
                    width: 95%;
                    left: 2.5%;
                }
            }
            .message { margin-top: 0; }
            .lead { margin-bottom: 0; }
    body
        .fontana
            - messages = []
            - messages.push("Sorry, due to Twitter's API v1.1 we had to rewrite TwitterFontana. This page is no longer available.")
            - messages.push("Go to http://twitterfontana.com and check out our new revamped version!")
            each message, i in messages
                div.message.media.well.col-md-6.col-md-offset-3(id='msg'+i)
                    figure.pull-left.media-object
                        img.avatar.img-thumbnail(src="/img/avatar.png", width="64", height="64", alt="")
                    .media-body
                        .media-heading
                            cite
                                span.name Tweet Fontana
                                small.text-muted
                                    span.screen_name @tweetfontana
                                    span.time.pull-right Just now
                    .text.lead= message
        script(src="/js/lib.min.js")
        script(src="/js/twitterfontana.min.js")
        :coffee
            $ ->
                container = $('.fontana')
                visualizer = new Fontana.Visualizer(container, new Fontana.datasources.HTML(container))
                visualizer.start()
        script.
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-30289566-2']);
            _gaq.push(['_setDomainName', 'twitterfontana.com']);
            _gaq.push(['_trackPageview']);
                (function() {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = 'http://www.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();