!!!
html
    head
        title TwitterFontana
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="/bootstrap/css/bootstrap.min.css")
        link(rel="stylesheet", href="/css/transitions.css")
        link(rel="stylesheet", href="/css/demo.css")
    body
        nav.navbar.navbar-default.navbar-fixed-top
            .navbar-header
                button.navbar-toggle(type="button", data-toggle="collapse", data-target=".navbar-collapse")
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
                .navbar-brand
                    img(src="/img/logo.png", width="16", height="16", alt="")
                    | &nbsp;TwitterFontana
            .collapse.navbar-collapse
                #controls.navbar-left
                    button.btn.btn-default.navbar-btn.settings(type="button")
                        i.glyphicon.glyphicon-cog
                    button.btn.btn-default.navbar-btn.pause-resume(type="button")
                        i.glyphicon.glyphicon-pause
                    button.btn.btn-default.navbar-btn.fullscreen(type="button")
                        i.glyphicon.glyphicon-fullscreen
                .navbar-right
                    #signin.hidden
                        button.btn.btn-default.navbar-btn(type="button")
                            | Sign in with Twitter
                        | &nbsp;
                    #signout.hidden
                        p.navbar-text(data-text="Hello {screen_name}")
                        | &nbsp;
                        button.btn.btn-default.navbar-btn(type="button")
                            | Sign out
                        | &nbsp;

        .fontana
            - messages = []
            - messages.push("Welcome to the brand new TwitterFontana! Completely revamped to work with Twitter's API v1.1")
            - messages.push("Sign in with your Twitter account to search for Tweets!")
            each message, i in messages
                div.message.media.well.col-md-6.col-md-offset-3(id='msg'+i)
                    figure.pull-left.media-object
                        img.avatar.img-thumbnail(src="/img/avatar.png", width="64", height="64", alt="")
                    .media-body
                        .media-heading
                            cite
                                span.name Tweet Fontana
                                small.text-muted
                                    span.screen_name @tweetfontana
                                    span.time.pull-right Just now
                    .text.lead= message

        .progress.progress-striped.active
            .progress-bar

        script(src="/js/lib.min.js")
        script(src="/bootstrap/js/bootstrap.min.js")
        script(src="/js/twitterfontana.min.js")
        script(src="/js/demo.min.js")
