!!!
html
    head
        title TwitterFontana
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css")
        #link(rel="stylesheet", href="//netdna.bootstrapcdn.com/bootswatch/3.0.0/amelia/bootstrap.min.css")
        #link(rel="stylesheet", href="//netdna.bootstrapcdn.com/bootswatch/3.0.0/cerulean/bootstrap.min.css")
        #link(rel="stylesheet", href="//netdna.bootstrapcdn.com/bootswatch/3.0.0/cosmo/bootstrap.min.css")
        link(rel="stylesheet", href="//netdna.bootstrapcdn.com/bootswatch/3.0.0/united/bootstrap.min.css")
        link(rel="stylesheeT", href="/css/transitions.css")
    body
        nav.navbar.navbar-inverse.navbar-fixed-top
                .navbar-brand
                    img(src="/img/logo.png", width="16", height="16", alt="")
                    | &nbsp;TwitterFontana
                form#signin.navbar-right.hidden.navbar-form
                    button.btn.btn-default(type="button")
                        | Sign in with Twitter
                #signout.navbar-right.hidden
                    p.navbar-text(data-text="Hello {screen_name}")
                    form.navbar-form.navbar-right
                        button.btn.btn-default(type="button")
                            | Sign out
        .container.fontana.media-list

            #msg1.message.media.well
                figure.pull-left.media-object
                    img.avatar.img-thumbnail(src="/img/avatar.png", width="64", height="64", alt="")
                .media-body
                    p.media-heading
                        cite
                            span.name Tweet Fontana
                            small.text-muted
                                span.screen_name @tweetfontana
                                span.time.pull-right Just now
                    p.text.lead
                        | Welcome to the brand new TwitterFontana! Completely revamped to work with Twitter's API v1.1

            #msg2.message.media.well
                figure.pull-left.media-object
                    img.avatar.img-thumbnail(src="/img/avatar.png", width="64", height="64", alt="")
                .media-body
                    p.media-heading
                        cite
                            span.name Tweet Fontana
                            small.text-muted
                                span.screen_name @tweetfontana
                                span.time.pull-right Just now
                    p.text.lead
                        | TwitterFontana focuses on customizability and control, check out the display controls at the
                        | bottom of the screen!

            #msg3.message.media.well
                figure.pull-left.media-object
                    img.avatar.img-thumbnail(src="/img/avatar.png", width="64", height="64", alt="")
                .media-body
                    p.media-heading
                        cite
                            span.name Tweet Fontana
                            small.text-muted
                                span.screen_name @tweetfontana
                                span.time.pull-right Just now
                    p.text.lead
                        | To display your own timeline, or perform a Twitter search, start by signing in with your
                        | Twitter account!

        script(src="//code.jquery.com/jquery.js")
        script(src="/js/lib.min.js")
        script(src="/js/twitterfontana.min.js")

        :coffee
            $ ->
                signIn = $("#signin")
                signOut = $("#signout")
                auth = new Fontana.TwitterAuth()
                container = $(".fontana")

                $('button', signIn).click ->
                    auth.signIn(checkSession)
                $('button', signOut).click ->
                    auth.signOut(checkSession)

                checkSession = ->
                    auth.activeSession (data)->
                        if (data)
                            isSignedIn(data)
                        else
                            isSignedOut()

                isSignedIn = (data)->
                    userText = $(".navbar-text", signOut)
                    userText.html(nano(userText.data("text"), data))
                    signIn.addClass("hidden")
                    signOut.removeClass("hidden")
                    twitterFontana()

                isSignedOut = ->
                    signIn.removeClass("hidden")
                    signOut.addClass("hidden")
                    HTMLFontana()

                twitterFontana = ->
                    datasource = new Fontana.datasources.TwitterSearch("#FridayThe13th")
                    visualizer = new Fontana.Visualizer(container, datasource)
                    visualizer.start()

                HTMLFontana = ->
                    datasource = new Fontana.datasources.HTML(container)
                    visualizer = new Fontana.Visualizer(container, datasource)
                    visualizer.start()

                checkSession()
